*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}
.tit-emp{
    font-family:'Courgette', cursive;
    display: inline-grid;
    color: #00fff9;
    position: relative;
    bottom: 30px;
}

.color-asc{
    font-family:'Courgette', cursive;
    color: #f2ff00
}

header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 75px;
    background-color: #dc88f6;
}
.logo{
    position: relative;
}

.logo img{
    color: black;
    height: 50px;
    margin-left: 10px;
    position: flex;
    bottom: 12px;
}
a{
    text-decoration: none;
    color: black;
}

.icon-plus:hover{
    color: #00fff9;
    cursor: pointer;
}
.icon:hover{
    color: #f2ff00;
}

.lista-nav{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}
