body {
    font-family: sans-serif;
    margin: 0;
    height: 1500px;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    color: #F8F7FF;
}

a {
    text-decoration: none;
    color: #0a0a0a;
}

header {
    display: flex;
    background-color: white;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    box-shadow: 6px 0.1px 4px 0.1px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 85px;
    margin-left: 15px;
}

nav{
    word-spacing: 50px;
    padding-right: 50px;
}

nav a {
    font-weight: 550;
}

nav :hover {
    color: #ff00d3;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}